*{
margin: 0px;
padding:0px;
box-sizing: border-box;
}
.container{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Outfit', sans-serif;
    height: 100vh
}
.qrbox{
    width:220px;
    height:350px;
    background-color:white;
    border-radius: 10px;
}
.qrimage img{
    width: 220px;
    padding:10px;
    border-radius: 18px;
}  
.firstmessage{
    font-size: 15px;
    color:hsl(218, 44%, 22%) ;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    padding:0px 15px;
    margin-top: 0px;
} 
.secondmessage{
    font-size: 10px;
    color:hsl(220, 15%, 55%) ;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    padding:0px 18px;
}

